# API Request Test

In [1]:
import pandas as pd
import numpy as np
import joblib
import requests
import json
from pandas import json_normalize

In [2]:
data = pd.read_csv("get_around_pricing_project.csv", index_col=0)
data.head()

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4843 entries, 0 to 4842
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   model_key                  4843 non-null   object
 1   mileage                    4843 non-null   int64
 2   engine_power               4843 non-null   int64
 3   fuel                       4843 non-null   object
 4   paint_color                4843 non-null   object
 5   car_type                   4843 non-null   object
 6   private_parking_available  4843 non-null   bool
 7   has_gps                    4843 non-null   bool
 8   has_air_conditioning       4843 non-null   bool
 9   automatic_car              4843 non-null   bool
 10  has_getaround_connect      4843 non-null   bool
 11  has_speed_regulator        4843 non-null   bool
 12  winter_tires               4843 non-null   bool
 13  rental_price_per_day       4843 non-null   int64
dtypes: bool(7), int64(3), object(4)
memory usage: 335.8+ KB

In [4]:
with open("test.json", 'r') as j:
     contents = json.loads(j.read())
contents

{'model_key': 'Mitsubishi',
 'mileage': 119639,
 'engine_power': 230,
 'fuel': 'diesel',
 'paint_color': 'white',
 'car_type': 'suv',
 'private_parking_available': True,
 'has_gps': True,
 'has_air_conditioning': True,
 'automatic_car': True,
 'has_getaround_connect': False,
 'has_speed_regulator': True,
 'winter_tires': True}

In [5]:
test = pd.DataFrame(dict(contents), index=[0])
test

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires
0,Mitsubishi,119639,230,diesel,white,suv,True,True,True,True,False,True,True

In [6]:
loaded_model = joblib.load('model.joblib')
prediction = loaded_model.predict(test)
response = {"predictions": prediction.tolist()}
response

{'predictions': [207.7278594970703]}

In [63]:
response = requests.post("http://0.0.0.0:4000/prediction", json=contents)
print(response.json())

{'prediction': 207.7278594970703}

In [8]:
response = requests.post("https://getaround-fastapi-gqforjedha-469c8f17fef7.herokuapp.com/prediction", json=contents)
print(response.json())

{'prediction': 207.7278594970703}